@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Doodle+Shadow&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins';
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --coral: #FAE2C2;
    --brown: #450F0F;
    --light-coral: #FCF9EF;
    --grey: #EFEFEF;
    --dark-blue: #3D54D0;
    --light-green: #C8FDEB;
    --dark-green: #33727D;
    --pink: #FF8484;
}

.h1-main {
    font-size: 6rem;
    font-weight: 500;
}

p {
    font-size: 1.6rem;
}

.btn-main {
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    background-color: var(--coral);
    border-radius: .4rem;
    transition: all .3s ease;
    color: var(--brown);
}

.btn-main:hover {
    background-color: #fff;
}
/* Preloader */
.preloader{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader h1{
    font-size: 10rem;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    z-index: 100;
    background-color: #fff;
}

.nav-left {
    font-size: 3rem;
    font-weight: 500;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icons {
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
}

.nav-icons i {
    font-size: 2.4rem;
    background-color: var(--light-coral);
    cursor: pointer;
    background-color: var(--grey);
    width: 50px;
    height: 50px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: all .3s ease;
}

.nav-icons i:hover {
    background-color: #000;
    color: #fff;
}

.nav-right ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    gap: 2rem;
}

.nav-right ul li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .3s ease;
}

.nav-right ul li::after {
    width: 0%;
    height: 5px;
    background-color: #000;
    bottom: 0;
    left: 50%;
    position: absolute;
    content: '';
    transition: all .3s ease;
}

.nav-right ul li:hover::after {
    width: 100%;
    left: 0;
}

.nav-right ul li a {
    font-size: 2rem;
    color: #000;
    transition: all .3s ease;
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 35px;
    height: 25px;
    cursor: pointer;
    transition: all .3s ease;
    display: none;
}

.hambar {
    position: absolute;
    width: 34px;
    height: 3px;
    background-color: #000;
    transition: all .3s ease;
}

.hambar:nth-child(1) {
    top: 0;
}

.hambar:nth-child(3) {
    bottom: 0;
}

nav.active .hambar:nth-child(1) {
    top: initial;
    transform: rotate(45deg);
}

nav.active .hambar:nth-child(2) {
    opacity: 0;
    transform: scale(0);
}

nav.active .hambar:nth-child(3) {
    bottom: initial;
    transform: rotate(-45deg);
}


#hero {
    background-image: url(https://atharvabaodhankar.github.io/SoftwareM4/images/main_background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 8rem);
    margin-top: 8rem;
    position: relative;
    z-index: 2;
}

#hero::after {
    width: 100%;
    height: 100%;
    background-color: #00000055;
    content: '';
    position: absolute;
    z-index: -1;
}

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 4vw;
    gap: 4vh;
    color: #fff;
    z-index: 2;
}

.hero h2 {
    font-size: 4rem;
}

.hero h1 {
    font-size: 7vmax;
}

/* About */
#about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5rem 3vw;
    background-color: var(--grey);
}

.about-img-main {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    width: 90%;
    height: 700px;
    overflow: hidden;
    border-radius: 1rem;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-main {
    padding: 2rem 3rem;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.5rem;
    border-radius: 1rem;
}

.about-main h2 {
    font-size: 1.7rem;
    color: #7f7f7f;
    font-weight: 500;
}

.about-main ul {
    list-style-type: none;
}

.about-main ul li {
    margin: 2rem 0;
    font-size: 1.8rem;
}

.about-main ul li i {
    margin-right: 1rem;
}

.about-btn {
    font-size: 1.9rem;
    background-color: #c9c9c9;
    color: #000;
    padding: 1.5rem 2rem;
    border-radius: .7rem;
    transition: all .5s ease
}

.about-btn:hover {
    background-color: #000;
    color: #fff;
}

/* Plans */
#plans {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7rem 0;
}

.plans-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
    padding: 0 2.5rem;
}

.plans-head h2 {
    font-size: 1.7rem;
    color: #7f7f7f;
}

.plans-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plans-box-wrapper {
    transform-style: preserve-3d;
    margin: 2.5rem;
}

.plans-box {
    position: relative;
    width: 400px;
    height: 570px;
    transition: all .7s ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.plans-box-front {
    width: 100%;
    height: 100%;
    padding: 3rem 2.5rem;
    transition: all .3s ease;
    position: absolute;
    border-radius: 1rem;
    background-color: var(--grey);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    backface-visibility: hidden;
}

.plans-box-back {
    width: 100%;
    height: 100%;
    padding: 3rem 2.5rem;
    transition: all .3s ease;
    position: absolute;
    border-radius: 1rem;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.plans-box-front h2 {
    font-size: 1.7rem;
    font-weight: 400;
}

.plans-box-front h1 {
    font-size: 7rem;
    font-weight: 400;
}

.plans-box-front ul {
    list-style-type: none;
    margin-bottom: 2rem;
}

.plans-box-front ul li {
    font-size: 1.7rem;
    margin: 1.6rem 0;
}

.plans-box-front ul li i {
    margin-right: 1rem;
}

.plans-btn {
    font-size: 1.8rem;
    color: var(--dark-green);
    background-color: var(--light-green);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    display: inline-block;
    justify-self: center;
    align-self: center;
    transition: all .3s ease;
    font-weight: 500;
}

.plans-btn:hover {
    background-color: var(--dark-green);
    color: #ffff;
}

.plans-box-wrapper:hover .plans-box {
    transform: rotateY(180deg);
}

.plans-box-back .plans-btn {
    transform: translateY(-100px) scale(0);
    transition: all .5s ease;
}

.plans-box-wrapper:hover .plans-btn {
    transform: translateY(0) scale(1.5);

}

.plans-box-wrapper:nth-child(2) .plans-box-front {
    background-color: var(--dark-blue);
    color: #fff;
}

.box {
    position: relative;
    width: 400px;
    height: 560px;
    overflow: hidden;
    transform: all .5s ease-in-out;
}

.box-inner {
    z-index: 2;
}

.box::after {
    content: '';
    width: 120px;
    height: 120px;
    right: -60px;
    bottom: -60px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--dark-blue);
    transition: all .5s ease;
}

.box:hover::after {
    transform: scale(12);
}

.box:hover {
    color: #fff;
}

/* Stat */
#stat {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: var(--light-green);
}

.stat-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 4rem;
    flex-wrap: wrap;
}

.stat-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 2rem;
}

.stat-box i {
    font-size: 4rem;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-green);
    border-radius: 50%;
    color: #fff;
    margin-right: 2rem;
}

.stat-box-right {
    width: 170px;
}

.stat-box-right h1 {
    font-size: 5rem;
}

.stat-box-right h3 {
    font-size: 2rem;
    font-weight: 400;
}

/* FAQ */
#faq {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem 0;
    background-color: var(--grey);
}

.faq-img {
    width: 450px;
    height: 600px;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0 3rem;
}

.faq-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faq-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
}

.faq-main h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #7f7f7f;
}

.faq-main h1 {
    font-size: 5rem;
    font-weight: 500;
}

.faq-main ul {
    list-style-type: none;
    width: 100%;
}

.faq-main ul li {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem 1.8rem;
    width: 100%;
    transition: all .3s ease;
}

.faq-main ul li i {
    margin-right: 1rem;
    font-size: 2rem;
}

.faq-main ul li:hover {
    padding-left: auto;
    padding-right: 4rem;
}

/* Intregrations */
#intre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
}

.intre-head {
    text-align: center;
}

.intre-head h2 {
    font-size: 1.8rem;
    color: #7f7f7f;
    font-weight: 500;
}

.intre-head h1 {
    font-size: 5rem;
    font-weight: 500;
    margin: 1.5rem 0;
}

.intre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.intre-box {
    border: 2px solid #dce8e8;
    border-radius: 1rem;
    padding: 3rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc(33.3% - 10rem);
    flex-direction: column;
    margin: 2rem 1.5rem;
    text-align: center;
}

.intre-box i {
    font-size: 3rem;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--grey);
}

.intre-box h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

.intre-box p {
    margin-bottom: 2rem;
}

.intre-box a {
    font-size: 1.8rem;
    color: #000;
    text-decoration: underline;
}

/* Experts */
#experts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
    background-color: var(--grey);
}

.experts-head {
    text-align: center;
    margin-bottom: 4rem;
}

.experts-head h2 {
    font-size: 1.7rem;
    color: #7f7f7f;
    font-weight: 500;
}

.experts-head h1 {
    font-size: 5rem;
    font-weight: 500;
}

.experts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.experts-box {
    flex-basis: calc(25% - 5vw);
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 1.5rem 0 1.5rem;
    cursor: pointer;
    margin: 3rem 0;
}

.experts-desc {
    margin: 4rem 0;
    text-align: center;
}

.experts-desc h1 {
    font-size: 2.5rem;
}

.experts-desc p {
    font-size: 1.6rem;
    color: #7f7f7f;
}

.experts-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.experts-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
}

.experts-box:hover .experts-img img {
    transform: scale(1.1);
}

.experts-ico {
    display: flex;
    align-items: center;
}

.experts-ico i {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 1rem 1rem 0 0;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    transition: all .3s ease;
}

.experts-ico i:hover {
    background-color: var(--pink);
    color: #fff;
}

/* About Us */
#aboutus {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem 0;
    background-color: #fff;
}

.aboutus-head {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 40%;
}

.aboutus-head h2 {
    font-size: 1.7rem;
    color: #7f7f7f;
    font-weight: 500;
}

.aboutus-head h1 {
    font-size: 5rem;
    font-weight: 500;
    margin: 2.5rem 0;
}

.aboutus-head p {
    font-size: 1.6rem;
    color: #7f7f7f;
}
.aboutus-stat{
    flex-basis: 40%;
}
.aboutus-stat ul{
    width: 100%;
}
.aboutus-stat ul li{
    list-style-type: none;
    width: 100%;
    margin: 2rem 0;
}
.aboutus-stat ul li h3{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.7rem;
}
.aboutus-stat ul li .progress{
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    background-color: var(--grey);
}
.aboutus-stat ul li .progress span{
    width: 93%;
    height: 100%;
    display: block;
    border-radius: 1rem;
    background-color: var(--brown);
    background-color: #000;
}
.aboutus-stat ul li:nth-child(2) .progress span{
    width: 71%;
}
.aboutus-stat ul li:nth-child(3) .progress span{
    width: 53%;
}

@media (max-width:1050px) {
    #faq {
        align-items: center;
        flex-direction: column;
    }

    .faq-main {
        margin-top: 5rem;
    }

    .intre-box {
        flex-basis: calc(33.3% - 2rem);
    }

    .experts-box {
        flex-basis: calc(50% - 5vw);
    }
}

@media (max-width:950px) {

    .nav-right ul {
        position: fixed;
        top: 8rem;
        left: -100%;
        width: 100%;
        height: calc(100vh - 8rem);
        background-color: #000000e4;
        transition: all .5s ease;
        z-index: 100;
    }

    nav.active .nav-right ul {
        left: 0;
    }

    .nav-right ul {
        flex-direction: column;
    }

    .nav-right ul li {
        margin: 3rem 0;
        height: auto;
        padding: 2rem 0;
    }

    .nav-right ul li::after {
        background-color: #fff;
    }

    .nav-right ul li a {
        color: #fff;
    }

    .nav-icons {
        display: none;
    }

    .hamburger {
        display: inherit;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    .about-img-main {
        width: auto;
    }

    .about-img {
        width: 80%;
        height: 70vh;
        margin-bottom: 4rem;
    }

    .about-main {
        width: 100%;
    }

    .intre {
        flex-wrap: wrap;
    }

    .intre-box {
        flex-basis: 90%;
    }
    #aboutus{
        flex-direction: column;
    }
    .aboutus-head{
        width: 90%;
    }
    .aboutus-stat{
        width: 90%;
        margin-top: 4rem;
    }
    .preloader h1 {
        font-size: 9vw;
        color: #fff;
        flex-direction: column;
        overflow: hidden;
    }

}

@media (max-width:750px) {


    .hero h2 {
        font-size: 3rem;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .h1-main {
        font-size: 4rem;
    }

    .plans-box {
        width: 100%;
    }

    .plans-box-wrapper {
        width: 90%;
    }

    .plans-main {
        width: 100%;
    }

    .p-box {
        width: 70%;
    }

    .plans-box-front h1 {
        font-size: 5rem;
    }

    .stat-box i {
        font-size: 3rem;
        width: 50px;
        height: 50px;
    }

    .stat-box-right h1 {
        font-size: 3.5rem;
    }

    .faq-main {
        width: 90%;
    }

    .faq-main h1 {
        font-size: 3.5rem;
    }

    .faq-img {
        width: 80%;
    }

    .intre-head h1 {
        font-size: 3.5rem;
    }

    .experts-head h1 {
        font-size: 3.5rem;
    }

    .experts-box {
        flex-basis: calc(100% - 4rem);
    }

    .aboutus-head h1{
        font-size: 3.5rem;
    }
}

@media (max-width:450px) {

    .hero h2 {
        font-size: 2.3rem;
    }

    .about-img {
        width: 100%;
    }

    .about-main .h1-main {
        font-size: 4rem;
    }

    .p-box {
        width: 90%;
    }

    .stat-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
        width: 100%;
    }

    .stat-box-right {
        width: 140px;
    }

    .faq-img {
        height: 430px;
    }
}